:root{
    --textcolor1: #f1f1f1;
    --textcolor2: #0f0000;
    --btn-color: rgb(154, 86, 8);
    --btn-color-bdr:rgb(154,82,8);
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.intro{
   text-align: center;
   background-image: url(../img/steakForBanner.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: auto;
   width: 100%;
   margin-top: 4.5rem;
}
 
.intro h1{
    font-size: 250px;
    color: var(--textcolor1);
    margin: 0 35px;
}

.intro p{
    font-size: 30px;
    color: var(--textcolor1);
}

.slideshow {
  margin: 0 auto;
  width: 70%; /* Adjust width to fit your layout */
  display: flex;
  overflow: hidden;
  position: relative;
}

.menu-card {
  flex: 1; /* Makes cards fill available space equally */
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.menu-card.active {
  transform: translateX(0);
}

#prev-button,
#next-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #ff69b4; /* Change color to match your theme */
  padding: 10px;
  z-index: 1;
}

#prev-button {
  left: 0;
}

#next-button {
  right: 0;
}

/* Additional styles for individual elements */

.menu-card img {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  object-fit: cover;
}

.menu-card h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.menu-card #menu-price {
  font-weight: bold;
}

/* Optional animation styles for sliding transition */

.menu-card.active ~ .menu-card {
  transform: translateX(-100%);
}

.menu-card.active ~ .menu-card.active {
  transform: translateX(0);
}


  .article-btn{
    width: 50%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    color:red;
  }
  
  .article-btn h4{
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.2rem;
  }

  .article-btn .check{
    width: 20%;
    margin: 20px auto;
    position: relative;
    color: var(--textcolor1);
    background-color: var(--btn-color);
    border: 3px solid var(--btn-color-bdr) ;
    height: 40px;
  }
  .check a{
    color: white;
    text-decoration: none;
  }
  