:root{
    --textcolor1: #f1f1f1;
    --textcolor2: #0f0000;
    --btn-color: rgb(154, 86, 8);
    --btn-color-bdr:rgb(154,82,8);
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.intro{
   text-align: center;
   background-image: url(../img/steakForBanner.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: auto;
   width: 100%;
   margin-top: 4.5rem;
}
 
.intro h1{
    font-size: 250px;
    color: var(--textcolor1);
    margin: 0 35px;
}

.intro p{
    font-size: 30px;
    color: var(--textcolor1);
}

.slideshow {
    margin: 0 auto;
    display: flex;
    width: 50%;
    overflow: hidden;
  }
  
  .menu-card {
    width: 100%;
    transition: transform 0.5s ease-in-out;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    text-align: center;
  }

  .menu-card #menu-name{
    margin: 20px 0;
  }
  
  .menu-card.active {
    transform: translateX(0);
  }
  
  #prev-button,
  #next-button {
    cursor: pointer;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    font-size: 24px;
    color: tomato;
    padding: 10px;
    z-index: 1;
  }
  
  #prev-button {
    left: 25%;
  }
  
  #next-button {
    right: 25%;
  }

  .article-btn{
    width: 50%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    color:red;
  }
  
  .article-btn h4{
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.2rem;
  }

  .article-btn .check{
    width: 20%;
    margin: 20px auto;
    position: relative;
    color: var(--textcolor1);
    background-color: var(--btn-color);
    border: 3px solid var(--btn-color-bdr) ;
    height: 40px;
  }
  .check a{
    color: white;
    text-decoration: none;
  }
  